{{yield}}
<!-- HEADLINE -->
<div class="headline-row">
    <h1 class="section-title caticon sbx"><i>C</i><span class="sport"></span><span class="title">{{title}}</span></h1>
</div>


<div class="row">
    <div class="col-md-8">
        <form class="signup-form form-horizontal" name="create-account" {{action 'onSubmitForm' on='submit'}}>
          {{!
            //==========================================================
            // Users can sign up for an account using this form.
            // Below is a list of inputs html names and Ember
            // property accessible through the component.
            // Acceptance: /tests/acceptance/welcome-test.js
            //
            // When all fields are filled in properly the CP
            // formIsReady should equal true
            //
            // form[name="create-account"]         onsubmit='onSubmitForm'
            //     input[name="email"]             email
            //     input[name="first-name"]        firstName
            //     input[name="last-name"]         lastName
            //     input[name="birthday"]          birthday
            //     input[name="username"]          username
            //     input[name="password"]          password
            //     input[name="confirm-password"]  confirmPassword
            //     input[name="gender"]            gender
            //
            //==========================================================
          }}
            <div class="form-group">
                <label class="col-sm-2 control-label">Email: </label>
                <div class="col-sm-10">
                  {{input type="text" name="email" placeholder="Email" class="form-control" value=formValues.email}}
                </div>
            </div>

            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First name: </label>
                <div class="col-sm-10">
                  {{input type="text" name="first-name" placeholder="First Name" class="form-control" value=formValues.firstName}}
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last name: </label>
                <div class="col-sm-10">
                  {{input type="text" name="last-name" placeholder="Last Name" class="form-control" value=formValues.lastName}}
                </div>
            </div>


            <div class="form-group">
                <label for="birthday" class="col-sm-2 control-label">Birthday: </label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6 col-xs-8 ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                          {{jquery-ui.datepicker
                          defaultDate="1994-01-01"
                          buttonText="Birthday"
                          placeholder="Birthday"
                          name="birthday"
                          class="form-control"
                          dateFormat="yy-mm-dd"
                          changeYear=true
                          value=formValues.birthday}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username: </label>
                <div class="col-sm-10">
                  {{input type="text" name="username" placeholder="Username" class="form-control" value=formValues.username}}
                </div>
            </div>

            <div class="form-group">
                <label for="create-password" class="col-sm-2 control-label">Password: </label>
                <div class="col-sm-10">
                  {{input type="password" name="create-password" placeholder="Password" class="form-control" value=formValues.createPassword}}
                </div>
            </div>


            <div class="form-group">
                <label for="confirm-password" class="col-sm-2 control-label">Repeat Password: </label>
                <div class="col-sm-10">
                  {{input type="password" name="confirm-password" placeholder="Confirm Password" class="form-control" value=formValues.confirmPassword}}
                </div>
            </div>

            <div class="form-group">
                <label for="gender">Gender: </label>
                <div class="row">

                    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                      {{#radio-button
                      radioClass="form-control"
                      radioId="gender-male"
                      groupValue=formValues.gender
                      name="gender"
                      value="male"
                      }}
                          Male
                      {{/radio-button}}
                    </div>

                    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                      {{#radio-button
                      radioClass="form-control"
                      radioId="gender-female"
                      groupValue=formValues.gender
                      value="female"
                      name="gender"
                      }}
                          Female
                      {{/radio-button}}
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                      {{#radio-button
                      radioId="gender-unspecified"
                      radioClass="form-control"
                      value="unspecified"
                      groupValue=formValues.gender
                      name="gender"
                      }}
                          Unspecified
                      {{/radio-button}}
                    </div>

                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <button type="submit" disabled={{if submitIsDisabled true null}} class="btn btn-primary" {{action 'onSubmitForm' on='click'}}>Submit</button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-4"></div>
</div>
