

{{site-header}}

<div class="container">
  {{#if session.isAuthenticated}}
      <h3>authenticated</h3>

  {{else}}

      <h3>Welcome!</h3>
    {{welcome.signup-form}}

  {{/if}}
</div>

{{ad-banner}}

{{site-footer minimal=true}}
