

{{site-header}}


{{#if session.isAuthenticated}}
  <button class="logout btn btn-warning rounded" {{action 'logout' on='click'}}>Logout</button>
{{/if}}

<div class="container">

    {{outlet}}

</div>

{{ad-banner}}

{{site-footer minimal=true}}
