
<div class="row thumb-medium-with-content">
  <!-- Post -->
  <article class="col-md-12 col-sm-12 col-xs-12 post post-spacer">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="entry-header">
          {{#if item.image}}
            <img class="img-responsive" alt="Image for recommendation listing" src={{item.image}}>
          {{else}}
            <img src="" alt="Need Default Image Here For When Users Don't Include Images In Their Recommendations!">
          {{/if}}
        </div>
      </div>


      <div class="col-md-8 col-sm-8">
        <div class="post-txt">
          {{ratings-widget rating=item.currentRating model=item}}
          <h3> {{#link-to 'recommendations.single' item class="title"}} {{item.title}} {{/link-to}}
            by: {{item.member.username}}
          </h3>
          <a href="#category" class="caticon icon-space-medium"><i class="icon-clock"></i><span class="sport"></span>{{pretty-date item.date}}</a>
          <p class="hidden-xs">{{itemSummary}}...<br> {{item.url}}</p>
        </div>
      </div>
    </div>
  </article>

  <!-- END -->
</div>