{{yield}}

<div class="starRating {{if memberCanVote 'signed-in'}}">
  <span class="rating">
    <span class="{{if-lte 5 rating 'rated-as' 'unrated'}} {{if-lte 5 memberRating 'member-rated-as'}}" {{action 'setNewRatingValue' 5}}>☆</span>
    <span class="{{if-lte 4 rating 'rated-as' 'unrated'}} {{if-lte 4 memberRating 'member-rated-as'}}" {{action 'setNewRatingValue' 4}}>☆</span>
    <span class="{{if-lte 3 rating 'rated-as' 'unrated'}} {{if-lte 3 memberRating 'member-rated-as'}}" {{action 'setNewRatingValue' 3}}>☆</span>
    <span class="{{if-lte 2 rating 'rated-as' 'unrated'}} {{if-lte 2 memberRating 'member-rated-as'}}" {{action 'setNewRatingValue' 2}}>☆</span>
    <span class="{{if-lte 1 rating 'rated-as' 'unrated'}} {{if-lte 1 memberRating 'member-rated-as'}}" {{action 'setNewRatingValue' 1}}>☆</span>
  </span>

  <span>Average: {{rating}} <br>
    Member: {{memberRating}}</span>



<!--  {{!#if memberCanVote}}
    <form {{!action 'addNewRating' on='submit'}}>
      {{!#radio-button groupValue=newRatingValue value="5" changed='setNewRatingValue'}}
        5
      {{!/radio-button}}
      {{!#radio-button groupValue=newRatingValue value="4" changed='setNewRatingValue'}}
        4
      {{!/radio-button}}
      {{!#radio-button groupValue=newRatingValue value="3" changed='setNewRatingValue'}}
        3
      {{!/radio-button}}
      {{!#radio-button groupValue=newRatingValue value="2" changed='setNewRatingValue'}}
        2
      {{!/radio-button}}
      {{!#radio-button groupValue=newRatingValue value="1" changed='setNewRatingValue'}}
        1
      {{!/radio-button}}

      {{!#if newRatingValue}}
        <button type="submit" class="btn btn-info btn-outline"> RATE </button>
      {{!/if}}</form>
  {{!/if}}-->

</div>