{{yield}}

<form {{action 'onSubmitForm' on='submit'}} class={{formClass}}>
  {{#each _formFields as |formPart|}}

    <div class={{either-or formPart.containerClass containerClass}}>

      {{! -- Show label if specified  -- }}
      {{#if formPart.label}}
        <label class={{either-or formPart.labelClass labelClass}}>{{formPart.label}}</label>
      {{/if}}

      {{! -- Show input regardless-- }}
      <div class={{'either-or' formPart.fieldWrapperClass fieldWrapperClass}}>

        {{! --- FIELD --- TEXT --- INPUT --- }}
        {{#if ('is-equal' 'text' formPart.type)}}
          {{input type='text'
          value=formPart.value
          class=formPart.class
          required=formPart.required
          placeholder=formPart.placeholder}}

        {{else}}

          {{#if ('is-equal' 'textarea' formPart.type)}}
            {{textarea
            value=formPart.value
            class=formPart.class
            required=formPart.required
            placeholder=formPart.placeholder}}
          {{/if}}
        {{! --- FIELD --- SELECT --- INPUT --- }}
          {{#if ('is-equal' 'select' formPart.type)}}

            {{super-form/select-menu
            prompt=formPart.prompt
            value=formPart.value
            class=formPart.class
            required=formPart.required
            content=(if formPart.options formPart.options)
            contentPromise=(if formPart.optionsPromise formPart.optionsPromise)
            selection=formPart.value}}


          {{else}}

          {{! --- FIELD --- DATEPICKER --- INPUT --- TODO: Change this to bootstrap datepicker }}
            {{#if ('is-equal' 'datepicker' formPart.type)}}
              {{jquery-ui.datepicker
              defaultDate=(if formPart.defaultDate formPart.defaultDate)
              dateFormat=(if formPart.formatDate formPart.formatDate 'yy-mm-dd')
              changeYear=(if formPart.changeYear formPart.changeYear true)
              minDate=(if formPart.minDate formPart.minDate)
              maxDate=(if formPart.maxDate formPart.maxDate)
              isRTL=(if formPart.changeYear formPart.changeYear false)
              placeholder=(if formPart.placeholder formPart.placeholder 'Choose Date')
              class=formPart.class
              required=formPart.required
              value=formPart.value}}


            {{else}}

            {{! --- FIELD --- FIREBASE-FILE --- INPUT --- }}
              {{#if ('is-equal' 'firebase-file' formPart.type)}}
                {{super-form/firebase-uploader
                value=formPart.value
                class=formPart.class
                required=formPart.required
                multiple=false}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}

      </div>
    </div>

  {{/each}}

  <button type="submit"
          class={{submitBtnClass}}
              disabled={{submitIsDisabled}}
    {{action 'onSubmitForm' on='click'}}>{{submitBtnText}}</button>

</form>